.swiper-scrollbar-drag {
  background: #4ffef3 !important;
  top: -5px !important;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 12%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 73%;
  background: wheat;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 456px;
  top: 0;
}
